<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
  	 <class name="webPage.tests.TestHome"/>
      <class name="webPage.tests.Test_S_Dresses"/>
      <class name="webPage.tests.TestRegAndLogIn"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
